body {
    background-image: url("../images/background1.gif")
}


div {
    background-image: url("../images/space1.gif");
    margin: 10px;
    width: 32%
}

div {
    padding: 5px;
}

h1,
h2,
span {
    background-color: white;
    font-weight: bold;
    width: 37%;
}

h1 {
    font-size: 40px;
    width: 70%;
    text-align: center;
}

h2 {
    font-size: 30px;

}

h3{
    background-color: white;
    width:15%;
    font-size: 30px;
}

ol {
    background-color: white;
    font-size: 20px;
}

.stoneImage {
    margin-left: 125px;
}

