body{
    background-image: url("../images/background1.gif")
}
div{
    background-image: url("../images/space1.gif");
	margin: 10px;
	width: 32%
}
div{
	border: solid 2px white;
	padding: 15px;
}
h1, h2, span{
    background-color: white;
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 40px;
}
h2{
    font-size: 30px;
}
ol{
    background-color: white;
    font-size: 20px;
}
div.header, div.gems{
	background-color: white;
}
div.header, div.instructions{
	width: 50%;
}
.numberToMatch, .winsAndLosses .userTotal{
	float: left;
	width: 50%;
	height: 60px;
}

.stones{
    width: 32%
}
.stoneImage{
	height: 60px;
    margin: 10px;
    padding-left: 120px;
}
#blue{
	color: #3092c7;
}
#purple{
	color: purple;
}
#red{
	color: #ec4b5f;
}
#yellow{
	color: #ffc225;
}